---
import PatrickHandText from "../PatrickHandText.astro";
---

<section
  class="bg-gradient-to-br from-pink-100 via-green-100 to-sky-100 h-screen flex items-center justify-center relative pt-20 lg:pt-0"
>
  <div>
    <div
      class="lg:block md:absolute md:top-34 md:left-1 md:w-[450px] w-full mb-6 md:mb-0 hidden "
    >
      <img
        src="/logo-sf.png"
        alt="Logo Pequeños Momentos"
        class="object-contain w-full h-auto"
      />
    </div>

    <!-- Texto centrado -->
    <div class="flex justify-center text-center pt-0 md:pt-8 px-4">
      <div>
        <h1 class="font-bold text-md lg:text-3xl text-gray-700 max-w-3xl my-5 lg:pl-0 pl-20">
          Renta de inflables, mobiliario y juegos infantiles para eventos
          | Pequeños Momentos | CDMX y Estado de México <br />
        </h1>
        <h2 class="font-bold text-md text-center lg:text-2xl text-gray-700 max-w-5xl lg:pl-0 pl-20">
          !Hola! <br />
          Mi nombre es Andrea
        </h2>
      </div>
    </div>

    <div
      class="max-w-2xl mx-auto px-4 text-justify lg:text-center text-gray-700 lg:pl-0 pl-17"
    >
      <ul class="list-none space-y-4 text-sm lg:text-lg">
        <li>
          Contamos con mobiliario y espacios de juegos diseñados para que
          disfrutes cada instante de tu evento al máximo.
        </li>
        <li>
          Nos apasiona hacer de cada ocasión una experiencia única y especial,
          donde cada detalle está pensado para ti.
        </li>
        <li>
          Sabemos que los momentos que compartes con tus seres queridos son
          valiosos, y queremos ayudarte a crear recuerdos inolvidables.
        </li>
        <li>Aquí encontrarás toda la información para hacer tu reservación.</li>
        <li>
          ¡Gracias por confiar en nosotros y por elegir <br />
          <PatrickHandText
            text="Pequeños Momentos"
            className="block text-2xl font-bold uppercase"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
